* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background: #333;
    font-family: "Poppins", sans-serif;
}

.container {
    background: linear-gradient(#8369a3, #67488d);
    height: 100vh;
    width: 100%;
}
.nav-bar-container {
    top: 0%;
    width: 100%;
    height: 4rem;
    position: fixed;
    align-items: center;
    background-color: #5a3b81;
    transition: top 0.5s;
}

#nav-bar-items {
    position: relative;
    list-style: none;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.nav-bar-item {
    align-self: center;
    border: 2px solid #ffffff;
    background-color: #715692;
    padding: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-bar-item:hover {
    color: #715692;
    border-color: #ad72f5;
    background-color: white;
    cursor: pointer;
}

header h3 {
    position: absolute;
    left: 50%;
    top: 80%;
    color: #ffffff;
}

.section-name {
    text-align: start;
    font-size: large;
    color: white;
}

.section-name h1 {
    padding: 10px 10px;
    border-bottom: 2px solid white;
}

section {
    height: 100vh;
    width: 100%;
}

section#my-info {
    background-color: #67488d;
}

section#my-skills {
    background: linear-gradient(#67488d, #573c77);
}

section#my-portfolio {
    background-color: #573c77;
}

section#my-contact-info {
    background: linear-gradient(#573c77, #371b58);
}

.nav-btns {
    display: block;
    text-align: center;
    align-items: center;
    padding: 15px 10px;
}

.nav-btns a {
    align-self: center;
    border: 2px solid #ffffff;
    background-color: #715692;
    padding: 0 10px;
    color: #ffffff;
    font-size: large;
    padding: 0px 10px;
}
.nav-btns a:hover {
    color: #715692;
    border-color: #ad72f5;
    background-color: white;
    cursor: pointer;
}

.top-of-section {
    display: flex;
    flex-direction: row;
}

.about-me__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    color: #eee;
}

.about-me__img {
    width: 30rem;
    height: 42rem;
    justify-content: center;
    display: flex;
}

.about-me__img img {
    margin: auto;
    width: 75%;
    height: 75%;
    border: 2px solid white;
}

.about-me__info {
    display: flex;
    justify-content: center;
}

.about-me__info p {
    margin: auto;
}

.about-me__info #linkedin {
    text-decoration: underline;
    text-decoration-color: white;
}

.my-skills__body {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
}

.my-skills__containers {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.my-skills__container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.my-skills__skill {
    display: flex;
    justify-content: center;
    margin: 10pt;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #76628d;
    cursor: default;
}

.my-skill {
    padding: 10px;
    font-size: 18pt;
}

.my-skills__skill:hover {
    border-color: #b893e2;
    color: #b893e2;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-container__items img{
    width: 30rem;
    height: 15rem;
    border: 2px solid #b893e2;
    margin-bottom: 10pt;
}

.portfolio-container__items img:hover{
    border-width: 4px;
    border-color: #b893e2;
}

.portfolio-container__items {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
}

.portfolio-container__items h1{
    border-bottom: 1px solid white;
    margin-bottom: 10pt;
}

#calculator {
    width: 10rem;
    height: 15rem;
    margin: auto;
    margin-top: 0px !important;
}

.link-github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;

}

.link-github a{
    margin: auto;
    font-size: larger;
    color: white;
}

.link-github a:hover{
    text-decoration: underline;
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fill-logo 0.5s ease forwards 2.6s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease;
}

#logo path:nth-child(2) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 0.2s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 0.4s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 0.8s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 1s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534;
    animation: anim-logo 1.4s forwards ease 1.2s;
}

@keyframes anim-logo {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-logo {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@media screen and (max-width: 1500px) {
    #my-portfolio {
        height: fit-content;
    }
    
    .portfolio-container {
        display: flex;
        flex-direction: column;
    }

    section {
        height: 200vh;
        width: 100%;
    }
    .about-me__container {
        display: flex;
        flex-direction: column;
    }

    .my-skills__containers {
        display: flex;
        flex-direction: column;
    }

    .about-me__img {
        display: flex;
        height: fit-content;
        width: 100%;
        justify-content: center;
    }

    .about-me__info {
        font-size: 18pt;
        text-align: start;
        margin: 10pt;
    }

    .about-me__img img {
        height: 28rem;
        width: 20rem;
    }

    .nav-bar-item {
        font-size: 20px;
    }
}
